/*
======================================================================
Globala regler                                                        
======================================================================
*/
:root {
    --thk-green: #00594f;
    --thk-light-green: #267269;
}

html {
    /*Bra storlek för att använda REM då 62.5% av 16px är 10*/
    font-size: 62.5%;

}

* {
    font-size: 1.6rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    background-color: #fff;
}

header {
    background-color: var(--thk-green);
    color: #fff;
    height: 200px;
    margin-bottom: 2rem;
}

main,
aside section {
    margin: 1em;
}

/*
======================================================================
Regler för Listor                                                 
======================================================================
*/

li {
    max-width: 660px;
    list-style: none;
    padding: 0.3em;
    border-radius: 0.5em;
    text-align: center;

}

.grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em
}

.grid-list li,
li:nth-child(odd) {
    background-color: var(--thk-light-green);
    color: aliceblue;
    box-shadow: 0.1em 0.1em 0.5em gray;
}

#contact-info-wrapper {
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#contact-info-wrapper p,
#contact-info-wrapper a {
    margin: 1rem 0.5rem;
}

#header-wrap {
    max-width: fit-content;
    margin: auto;
}

#header-wrap p,
#header-wrap em {
    margin-top: 0;
    font-weight: bolder;
    font-style: normal;
}

/*
======================================================================
Regler för Ikoner & bilder                                                  
======================================================================
*/

img {
    display: block;
    margin: auto;
    border-radius: 50%;
}

[id*="icon"] {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin: auto 0.5rem;

}

#email-icon {
    background: url("../resourses/svg/mail-svgrepo-com.svg");
}

#phone-icon {
    background: url("../resourses/svg/phone-svgrepo-com.svg");
}

#linkedin-icon {
    background: url("../resourses/svg/linkedin-svgrepo-com.svg");
}

#github-icon {
    background: url("../resourses/svg/github-142-svgrepo-com.svg");
}

/*
======================================================================
Regler för text                                                   
======================================================================
*/

h1 {
    font-size: 5rem;
    text-align: center;
    padding-top: 1em;
}

h2 {
    font-size: 3rem;
    margin: 0.5em 0;
    padding-bottom: 1rem;
    color: var(--thk-green);
    border-bottom: var(--thk-green) solid 1px;
}

h3 {
    color: var(--thk-green);
    font-size: 2rem;
    margin: 1em 0;
    text-align: left;
}

main h3 {
    font-size: 2.5rem;
    margin: 1em 0 0 0;
}

main p {
    line-height: 1.6em;
}

header p {
    text-align: right;
    margin: 1em;
}

p {
    max-width: 70ch;
    margin: 1em 0;
}

.date,
.date * {
    font-size: 1.4rem;
    margin-top: 0;
    font-weight: bolder;
    font-style: italic;
    color: gray;
}

#contact-info>p {
    max-width: 100%;
    font-weight: bolder;
    text-align: center;
    margin-top: 0.5rem;
    color: gray;

}

#contact-info h2 {
    margin-bottom: 0;
    text-align: center;
}

/*
======================================================================
Regler för länkar                                                     
======================================================================
*/

a:link,
a:visited {
    text-decoration: none;
    color: #000;
}

a:focus,
a:hover {
    text-decoration: underline;
}

/*
======================================================================
Media regler                                                         
======================================================================
*/
@media (min-width: 900px) {
    body {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            'a h'
            'a m';
    }

    aside {
        grid-area: a;
    }

    main {
        grid-area: m;
    }

    footer {
        grid-area: f;
    }

    header {
        grid-area: h;
        height: 230px;
    }

    #merge-with-header {
        display: flex;
        justify-content: center;
        height: 230px;
        background-color: var(--thk-green);
    }

    h1 {
        font-size: 7rem;
    }
}

@media (min-width: 1400px) {
    aside section {
        max-width: 360px;
        margin: auto;
    }

    .grid-colums {
        display: grid;
        gap: 2em;
        grid-template-columns: 1fr 1fr;
    }

    article>p,
    section {
        margin: 1rem;
    }
}